<h1>Restaurant Details</h1>
<div id="dashb2">
    <div id="Restaurant-details">
        <h2><%= user2.resname %></h2>
        <h3>Contact Details : <%= user2.phone%></h3>
        <h3>Find Us At : <%= user2.address%></h3>
    </div>
        <a href="/user2/logout"><button>Logout</button></a><br><br>
        <a href="/user2/Menu"><button>Menu</button></a>
    
</div>